{{ if and (.Param "showBreadcrumbs") (not .IsHome) }}
<nav class=" mt-0 bg-off breadcrumbs">


<ol  class="container list-reset flex flex-wrap children-xgap-sm children-y-0">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav>
  {{ end }}

  {{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if ne .p1 .p2 }}
  <li class="flex children-xgap-sm align-center children-y-0{{ if eq .p1 .p2 }} active{{ end }}">
    <a class="pad-sm lh-1" {{ if eq .p1 .p2 }} tabindex="-1"{{ end }} href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>{{ if ne .p1 .p2 }}<span class="pad-smp">></span>{{ end }}
  </li>
  {{ end }}
  {{ end }}
